li {
    display: inline;
    text-align: center;
    padding-inline-end: 1px;
}
h1 {
    text-align: center;
}
main {
    display: left;
}
button {
    text-align: left;
    color: green;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    color: black;
    padding-right: 20px;
    font-family: poppins;
  }
  h2{
   color : light orange
  }
  h3{
    text-align: center;
  }
  button{
    color: #6CBB40;
  }