li {
    display: inline;
}
h1 {
    text-align: center;
}
main {
    display: left;
}
button {
    text-align: left;
    color: green;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    color: black;
    padding-right: 20px;
    font: italic 10px "Fira Sans", serif;
  }